.proyecto{
    width: 95%;
    min-height: 400px;
    margin: auto;
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--amarillo);
}
.img-proyecto{
    position: relative;
    background-repeat: no-repeat;
    width: 50%;
    height: 360px;
}
.info-proy{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    padding-top: 40px;
}
.info-proy p{
    text-align: justify;
}
.btn1, .btnL, .btn3, .btn4, .btnRe, .btnC, .btnRi, .btnP, .btn9{
    text-decoration: none;
    padding: 20px;
    border-radius: 10px;
    color: white;
    transition: background .8s;
}
.btn1{
    background-color: rgb(139, 6, 57);
    color: white;
} 
.btnL{
    background-color: aquamarine;
    color: black;
} 
.btn3{
    background-color: rgb(20, 216, 151);
    color: black;
} 
.btn4{
    background-color: gold;
    color: black;
} 
.btnRe{
    background-color: peru;
} 
.btnC{
    background-color: peru;
} 
.btnRi{
    background-color: orangered;
}
.btnP{
    background-color: rgb(28, 161, 121);
}
.btn9{
    background-color: rgb(68, 204, 41);
}
.btn1:hover, .btnL:hover, .btn3:hover, .btn4:hover,
.btnRe:hover, .btnC:hover, .btnRi:hover,.btnP:hover,
.btn9:hover{
    background-color: white;
    color: black;
}

#pagRick{
    background: url(../img/img-rickandmorty.png);
}
#pagPoke{
    background: url(../img/img-pokemon.png);
}
#pag01{
    background: url(../img/img-fcbarcelona.png);
}
#pag02{
    background: url(../img/img-chatbot.png);
}
#pag04{
    background: url(../img/img-cevicheria.png);
}
#pag05{
    background: url(../img/img-ferreteria.png);
}
#pag07{
    background: url(../img/img-lista-tareas.png);
}
#pag08{
    background: url(../img/img-reloj.png);
}
#pag09{
    background: url(../img/img-calculadora.png);
}
#pagRick,#pagPoke,#pag01,#pag02,#pag03,#pag04,#pag05,#pag06,#pag07,#pag08,#pag09{
    background-size: 100% 100%;
    background-position: center;
    transition: background 1s;
    border-radius: 10px;
}
#pagRick:hover,#pagPoke:hover,#pag01:hover,#pag02:hover,
#pag03:hover,#pag04:hover,#pag05:hover,#pag06:hover,
#pag07:hover,#pag08:hover,#pag09:hover{
    background-size: 140% 150%;
}