.proyecto{
    width: 95%;
    height: 400px;
    margin: auto;
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--secundario);
}
.img-proyecto{
    position: relative;
    background-repeat: no-repeat;
    width: 600px;
    height: 340px;
}
.info-proy{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    margin-top: 40px;
}
.info-proy a{
    text-decoration: none;
    background-color: dodgerblue;
    padding: 20px;
    border-radius: 10px;
    color: white;
}

#pag01{
    background: url(../img/img-cevicheria.png);
}
#pag02{
    background: url(../img/img-cevicheria.png);
}
#pag03{
    background: url(../img/img-turismo.png);
}
#pag04{
    background: url(../img/img-dental.png);
}
#pag05{
    background: url(../img/img-nuevo-peru.png);
}
#pag06{
    background: url(../img/img-deportivo.png);
}
#pag07{
    background: url(../img/img-libros.png);
}
#pag01,#pag02,#pag03,#pag04,#pag05,#pag06,#pag07{
    background-size: 100% 100%;
    background-position: center;
    transition: background 1s;
}
#pag01:hover,#pag02:hover,#pag03:hover,#pag04:hover,#pag05:hover,#pag06:hover,#pag07:hover{
    background-size: 140% 150%;
}