.botonera{
    float: right;
    margin-right: 5%;
}
span{
    color: white;
    font-size: 36px;
}
#menu{
    display: none;
}
@media (max-width: 1200px){
    .proyecto{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .img-proyecto{
        width: 70%;
    }
    .info-proy{
        padding-top: 0;
        margin-bottom: 10px;
        width: 600px;
    }
    .testimonio{
        width: 40%;
    }
}
@media (max-width: 1160px){
    .botonera{
        float: none;
        position: relative;
        left: -100%;
    }
    .botonera a{
        color: black;
        min-width: 750px;
        height: 90px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translateX(-20px);
    }
    .botonera ul{
        position: absolute;
        background: var(--amarillo);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 200;
        width: 105.3%;
        height: 86vh;
    }
    #menu{
        display: block;
        float: right;
        transform: translateY(-70px);
        margin-right: 30px;
    }
    .botonera-open{
        left: 0%;
    }
    header{
        display: inline-block;
        width: 100%;
    }
    span{
        font-size: 36px;
        color: white;
    }
    .botonera a:hover{
        background-color: var(--negro);
        color: white;
    }
}
@media (max-width: 960px){
    .text-contacto{
        margin: 0;
        width: 350px;
        height: 200px;
        margin-bottom: 10px;
    }
    .section-contacto{
        flex-direction: column;
        height: 800px;
        align-items: center;
    }
    .img-proyecto{
        width: 85%;
        height: 400px;
    }
}
@media (max-width: 900px){
    .text-subtitulo p{
        margin-top: 10px;
    }
}
@media (max-width: 800px){
    #sobremi{
        flex-direction: column;
        margin-bottom: 30px;
    }
    .subtitulo{
        margin-bottom: 10px;
        margin-top: 20px;
    }
    .text-subtitulo{
        width: 600px;
    }
    .div-testimonios{
        flex-direction: column;
        align-items: center;
    }
    .testimonio{
        width: 480px;
        margin-bottom: 20px;
    }
    .botonera a{
        min-width: 500px;
    }
    .img-proyecto{
        width: 80%;
        height: 300px;
    }
    .info-proy{
        width: 400px;
    }
}
@media (max-width: 600px){
    .text-contacto{
        width: 350px;
        height: 200px;
        padding: 0px 20px;
    }
    form{
        width: 400px;
    }
    .testimonio{
        width: 360px;
    }
    .botonera a{
        min-width: 400px;
    }
    .img-logo{
        margin-left: 20px;
    }
    .img-proyecto{
        width: 90%;
    }
}
@media (max-width: 480px){
    .info-proy{
        width: 280px;
    }
    .img-proyecto{
        width: 300px;
        height: 220px;
    }
}
@media (max-width: 460px){
    #menu{
        margin-right: 20px;
    }
    .img-logo{
        margin-left: 0;
    }
    .testimonio{
        width: 300px;
    }
    .text-subtitulo{
        min-width: 320px;
    }
    .text-contacto{
        width: 280px;
        height: 150px;
    }
    form{
        width: 320px;
    }
    .botonera a{
        min-width: 275px;
    }
    .nombre h1{
        width: 180px;
        height: 100px;
    }
}
@media (max-width: 360px) {
    .text-subtitulo{
        width: 300px;
    }
    .testimonio{
        width: 300px;
    }
    .portafolio{
        display: block;
        padding: 10px;
    }
    .paginasweb{
        width: 280px;
        margin-bottom: 10px;
    }
    .testimonios{
        display: block;
    }
    .testimonio{
        width: 260px;
    }
    .section-testi{
        width: 280px;
        padding-right: 15px;
    }
    .text-pallin{
        padding-bottom: 30px;
    }
    form{
        width: 280px;
    }
    .info-proy{
        width: 250px;
    }
    .img-proyecto{
        width: 275px;
        height: 200px;
    }
}