*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --primario: #ff8800;
    --color: rgb(250, 148, 14);
    --secundario: rgb(214, 89, 72);
    --lila: rgb(150, 66, 199);
}
header{
    position: relative;
    background-color: var(--primario);
    display: flex;
    justify-content: space-between;
    height: 100px;
}
.botonera li{
    display: inline-block;
}
.botonera a{
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: white;
    display: block;
    padding: 37px 20px;
}
.botonera a:hover{
    background-color: black;
    color: white;
}
.botonera ul{
    list-style: none;
}
.menu label{
    font-size: 36px;
    color: white;
}
.nombre{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nombre h1{
    font-family: 'DynaPuff', cursive;
}
#sobremi{
    width: 60%;
    margin: auto;
    padding: 20px 0;
}
h2{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 32px;
    color: black;
}
p{
    font-size: Arial;
    font-size: 18px;
}
/*Estilo del banner*/
.banner{
    position: relative;
    background: url(../img/banner1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    min-height: 85vh;
}
.cont-banner{
    width: 100%;
    position: absolute;
    bottom: 20%;
}
.overlay{
    background: rgb(0, 0, 0, 0.1);
    width: 100%;
    min-height: 50vh;
}
.img-logo{
    background-image: url(../img/logo.png);
    background-size: 108% 115%;
    background-repeat: no-repeat;
    width: 220px;
    height: 140px;
    transform: translateY(-30px);
    margin-left: 50px;
}
.fa-arrow-down{
    background-color: white;
    color: black;
    padding: 20px;
    transform: translateY(30px);
    font-size: 28px;
    border-radius: 50%;
    animation: rebote 2.5s ease-in 1s 5 forwards;
}
@keyframes rebote{
	0%{
		transform: translateY(30px);
	}
    50%{
        transform: translateY(10px);
    }
	100%{
		transform: translateY(30px);
	}
} 