
#foto-pallin, #foto-benigno{
    width: 170px;
    border-radius: 50%;
    border: 7px solid var(--primario);
    margin-bottom: 20px;
}
.section-testi{
    width: 30%;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
}
.section-testi p{
    text-align: justify;
}
.section-testi h3{
    text-align: center;
    padding-bottom: 15px;
}
.testimonios{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}